<div class="box">
  <mat-card class="example-card">
    <mat-card-header
      [routerLink]="['/detail', blogEntry().id]"
      style="cursor: pointer"
    >
      <mat-card-title>{{ blogEntry().title }}</mat-card-title>
    </mat-card-header>

    <img
      mat-card-image
      src="https://imgix.bustle.com/inverse/43/e9/9e/ac/0c64/4d0e/a2bc/dda1d61a31db/on-fire.jpeg?w=672&h=379&fit=crop&crop=faces&dpr=2&blend=151515&blendAlpha=40&blendMode=normal"
      alt="Photo of a Blog"
      [routerLink]="['/detail', blogEntry().id]"
      style="cursor: pointer"
    />

    <mat-card-content
      [routerLink]="['/detail', blogEntry().id]"
      style="cursor: pointer"
    >
      <p>
        {{ blogEntry().contentPreview }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      ></svg>
      <p>{{ blogEntry().likes }}</p>
    </mat-card-actions>
  </mat-card>
</div>
