<mat-card class="example-card">
    <mat-card-header [routerLink]="['/detail', blogEntry!.id]" style="cursor: pointer;">
      <mat-card-title>{{ blogEntry?.title }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="blogEntry?.headerImageUrl" alt="Photo of a Blog" [routerLink]="['/detail', blogEntry!.id]" style="cursor: pointer;">
    
    <mat-card-content [routerLink]="['/detail', blogEntry!.id]" style="cursor: pointer;">
      <p>
        {{ blogEntry?.contentPreview }} <!-- Why not shown ?? -->
      </p>
    </mat-card-content>
    
    <mat-card-actions>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        [class]="_icon.iconClass"
        viewBox="0 0 16 16"
        (click)="toggleLike()"
      >
        <path [attr.d]="_icon.path" />
      </svg>
      <p>{{ blogEntry?.likes }}</p>
    </mat-card-actions>
  </mat-card>