<!-- Link the Template Form to the ts code Form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="title">Title</label>
      <!-- Link the email import (long approche) -->
      <input id="title" type="text" [formControl]="form.controls.title" />
    </div>

    <div class="control no-margin">
      <label for="content">Content</label>
      <!-- Link the password import (short approche) -->
      <input id="content" type="text" formControlName="content" />
    </div>

    <button class="button">Submit</button>
  </div>

  <!-- @if (emailIsInvalid) {
  <p class="control-error">Please enter a valid email address.</p>
  } -->

  <!-- Show warning when password invalid -->
  <!-- @if (passwordIsInvalid) {
  <p class="control-error">
    Please enter a valid password. (Min 6 Characters and including a question
    mark ?)
  </p>
  } -->
</form>
