<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Create new Blog</h2>

  <div>
    <div>
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        [formControl]="form.controls.title"
        class="form-input"
      />
    </div>

    <div>
      <label for="content">Content</label>
      <input
        id="content"
        type="text"
        formControlName="content"
        class="form-input"
      />
    </div>

    @if (showButton) {
    <button class="button">Submit</button>
    }
    <button class="reset" (click)="onReset()">Reset</button>
  </div>

  @if (contentIsValid) {
  <p class="error-message">
    Please enter a valid content. (Min 6 Characters long)
  </p>
  }
</form>
